img {
    width: 100%;
    border: none;
    vertical-align: middle;
}
.icon {
    /* display: inline-block; */
    /* text-align: center; */
    display: block;
    width: 70%;
    margin: auto;
}
.otherlink {
    height: 161px;
    /* min-width: 150px; */
    /* max-width: 300px; */
    line-height: 150px;
    float: left;
    width: 174px;
    margin: 22px;
    box-sizing: border-box;
    /* position: absolute; */
}
.link {
    width: 76%;
    font-weight: bold;
    margin: auto;
    text-align: left;
    vertical-align: middle;
}
#intro {
    text-align: justify;
    vertical-align: top;
    width: 72%;
    font-size: 132%;
    margin: 0 auto;
    padding: .5em 1em;
}
#footer {
    clear: both;
    text-align: center;
    width: 70%;
    margin: 30px auto;
    border-top: .5px solid black;
    
}
.footer {
    word-spacing: 40px;
}
.nowrap {
    white-space: nowrap;
}